<!DOCTYPE html>
<html>
<head>
  <title>Attend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

	<%= yield %>

</body>
</html>
